body {
  margin: 0;
  padding: 0;
  font-family: "Kalam", cursive;
  overflow:hidden;
  max-height: 100%;
}

.menu {
  background-color: #000;
  position: absolute;
  top: 0;
  padding: 20px 20px 0px 20px;
  overflow: hidden;
  display: none;
  z-index: 1000;
  text-align: center;
  overflow-y:auto;
  max-height: 100%;
}

a.openMenuBtn {
  position: absolute;
  max-width: 150px;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background: #000;
  text-align: center;
  font-size: 2em;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 0px 0px 10px 10px;
  border: solid 2px;
}

a#VR,
a#fullscreen,
.shareInfo {
  position: absolute;
  font-size: 4em;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

a#VR {
  left: 25px;
  top: 25px;
}

.shareInfo {
  bottom: 25px;
  right: 25px;
  font-size: 3em;
}

.shareInfo > a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

a.closeMenuBtn {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 40px;
  font-size: 2.6em;
  border: solid 2px;
  width: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

a.views {
  position: relative;
  display: inline-block;
}

a.views:hover:after {
  display: inline-block;
}

a.views:after {
  content: "text";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

a.videoViews {
  position: relative;
  display: inline-block;
}

a.videoViews:hover:after {
  display: inline-block;
}

a.videoViews:after {
  content: "text";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2em;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

h1 {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.infoText,
.ShareLinks {
  position: absolute;
  bottom: 120px;
  right: 25px;
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.infoText > h1,
.ShareLinks > h1 {
  color: #000000;
  margin-top: 0;
}

.infoText > p,
.ShareLinks > p {
  margin: 0;
}

.infoText:after,
.ShareLinks:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-left: solid 20px transparent;
  border-top: solid 20px #fff;
  border-right: solid 20px transparent;
  position: absolute;
}

.ShareLinks {
  text-align: center;
  display: none;
}

.ShareLinks > a {
  font-size: 3em;
  text-decoration: none;
  color: #000;
}

.infoText:after {
  right: 102px;
  bottom: -20px;
}

.ShareLinks:after {
  right: 30px;
  bottom: -20px;
}

.ShareLinks > a:hover {
  opacity: 0.5;
}

a {
  cursor: pointer;
}

.closeInfo,
.closeShare {
  position: absolute;
  right: 10px;
  top: -5px;
  font-size: 1.5em;
  cursor: pointer;
}

.areaTitle {
  text-align: center;
  margin-bottom: 20px;
}

.areaTitle > span, .areaTitle > p {
  display: inline-block;
  vertical-align: middle;
}

.areaTitle > p {
  font-weight: bold;
  font-size: 1.7em;
}


small {
  width: 100%;
  text-align: right;
  display: block;
}

a#fullscreen {
  right: 25px;
  top: 25px;
}

.videoViews > video, .views > img {
    background: #fff;
}

@media (max-width: 600px) {
  .infoText,
  .ShareLinks {
    right: 0;
  }

  .infoText:after {
    right: 127px;
  }
  .ShareLinks:after {
    right: 55px;
  }
}
