{{ define "main" }}
<!DOCTYPE html>


  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <div class="menu">
      <h1>360° Images</h1>
      <a class="views" href="#" id="airport"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/c_mfit,h_1920,w_300/v1561474126/Images/Airport_fyazaq.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="bathingpools"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474097/Images/bathing_pools_rq6dxe.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="BridgeCoop"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474146/Images/Bridge_Coop_bho8ja.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="CollegeFootsLane"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474146/Images/College_Foots_Lane_piiooy.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="footslane"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474172/Images/foots_lane_dqbxim.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="GE2"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474211/Images/GE2_l2rwba.jpg" width="300px"/></a>
      <a class="views" href="#" id="Grammar1"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474207/Images/Grammar1_zhde4y.jpg" width="300px"/></a>
      <a class="views" href="#" id="GuilleAlles"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474233/Images/Guille_Alles_u4rus8.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="kgv"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474216/Images/kgv_lfynh9.jpg" width="300px"/></a>
      <a class="views" href="#" id="LEree"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474262/Images/L_Eree_ydene9.jpg" width="300px"/></a>
      <a class="views" href="#" id="longstore"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474251/Images/longstore_kuzjsv.jpg" width="300px"/></a>
      <a class="views" href="#" id="pleinmont"><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474317/Images/pleinmont_rkwhzn.jpg" width="300px"/></a>
      <a class="views" href="#" id="StPPschool"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474300/Images/StPP_school_dbfaxj.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="townchurch"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474355/Images/town_church2_eo3vhz.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="VazonCo-Op"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474336/Images/Vazon_Co-Op_zrsraq.jpg" width="300px"
      /></a>
      <a class="views" href="#" id="vazonkiosk"
        ><img src="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474343/Images/vazon_kiosk_fchgqo.jpg" width="300px"
      /></a>
      <hr />
      <!-- Videos -->
      <h1>360° Videos</h1>
      <a class="videoViews" href="#" id="airportVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/c_mfit,h_1920,w_300/v1561474126/Images/Airport_fyazaq.jpg">
          <source src="vids/airport.mp4" type="video/mp4" /></video
      ></a>

       <a class="videoViews" href="#" id="bathingpoolsVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474097/Images/bathing_pools_rq6dxe.jpg">
          <source src="vids/bathingpools.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="BridgeCoopVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474146/Images/Bridge_Coop_bho8ja.jpg">
          <source src="vids/BridgeCoop.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="CollegeFootsLaneVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474146/Images/College_Foots_Lane_piiooy.jpg">
          <source src="vids/CollegeFootsLane.mp4" type="video/mp4" /></video
      ></a>
      
      
      <a class="videoViews" href="#" id="FootsLaneVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474172/Images/foots_lane_dqbxim.jpg">
          <source src="vids/FootsLane.mp4" type="video/mp4" /></video
      ></a>
      
       <a class="videoViews" href="#" id="GE2Vid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474211/Images/GE2_l2rwba.jpg">
          <source src="vids/GE2.mp4" type="video/mp4" /></video
      ></a>
      <a class="videoViews" href="#" id="Grammer1Vid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474207/Images/Grammar1_zhde4y.jpg">
          <source src="vids/Grammer.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="Grammer2Vid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474207/Images/Grammar1_zhde4y.jpg">
          <source src="vids/Grammar2.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="GuilleAllesVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474233/Images/Guille_Alles_u4rus8.jpg">
          <source src="vids/GuilleAlles.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="KGVVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474216/Images/kgv_lfynh9.jpg">
          <source src="vids/KGV.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="LEreeVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474262/Images/L_Eree_ydene9.jpg">
          <source src="vids/LEree.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="LongstoreVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474251/Images/longstore_kuzjsv.jpg">
          <source src="vids/longstore.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="PleinmontVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474317/Images/pleinmont_rkwhzn.jpg">
          <source src="vids/pleinmont.mp4" type="video/mp4" /></video
      ></a>
      <a class="videoViews" href="#" id="StPPVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474300/Images/StPP_school_dbfaxj.jpg">
          <source src="vids/StPP1.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="StPP2Vid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474300/Images/StPP_school_dbfaxj.jpg">
          <source src="vids/StPP2.mp4" type="video/mp4" /></video
      ></a>

      <a class="videoViews" href="#" id="townChurchVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474355/Images/town_church2_eo3vhz.jpg">
          <source src="vids/townChurch.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="VazonCoopVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474336/Images/Vazon_Co-Op_zrsraq.jpg">
          <source src="vids/VazonCoop.mp4" type="video/mp4" /></video
      ></a>
      
      <a class="videoViews" href="#" id="VazonKioskVid"
        ><video width="300px" poster="https://res.cloudinary.com/yurisubmarine/image/upload/v1561474343/Images/vazon_kiosk_fchgqo.jpg">
          <source src="vids/VazonKiosk.mp4" type="video/mp4" /></video
      ></a>
     
      
      <a href="javascript:" class="closeMenuBtn">
        <i class="fas fa-angle-double-up"></i>
      </a>
    </div>

    <!-- Top Centre-->
    <!-- <a id="VR" href="#">
      <i class="fas fa-vr-cardboard"></i>
    </a> -->

    <a href="javascript:" class="openMenuBtn">
        <i class="fas fa-angle-double-down"></i>
      </a>
  

    <a href="javascript:" id="fullscreen">
        <i class="fas fa-compress"></i>
    </a>

    <!-- Bottom right -->
    <div class="shareInfo">
      <a id="Info" href="javascript:">
        <i class="fas fa-info"></i>
      </a>
      <a id="Share" href="javascript:">
        <i class="fas fa-share-square"></i>
      </a> 
    </div>
    <div class="infoText">
      <div class="closeInfo">x</div>
        <h1>Welcome to the CAG 360° Viewer</h1>
        <div class="areaTitle"><span>You are viewing:</span> <p id="output"></p></div>
        <p>You can view all of the 360° images and videos by clicking <i class="fas fa-angle-double-down"></i>. Which can be found at the top of the screen.</p>
        <br />
        <p>You can choose a media item, simply by click on one of them</p>
        <br />
        <p>You can also share each of the media items if you wish, simply by clicking <i class="fas fa-share-square"></i>. Which you can find at the bottom right of the screen.</p>
        <br />
        <p><strong>You can also use VR devices to view the media items</strong></p>
        <br />
        <small>Built by <a href="https://submarine.gg" target="_blank">Submarine</a></small>
      </div>
    <div class="ShareLinks">
        <div class="closeShare">x</div>
        <a id="email" href="mailto:" target="_blank">
          <i class="far fa-envelope"></i>
        </a>

        <a id="facebook" href="https://facebook.com" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>

        <a id="twitter" href="https://twitter.com" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>

        <a id="linkedin" href="https://linkedin.com" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>

    <div id="container"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="js/vendor/jquery-3.4.1.min.js"><\/script>'
        );
    </script>
    <script src="js/WebVR.js"></script>
    <script src="js/WebGL.js"></script>
    <script src="js/threex.videotexture.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/webvr-polyfill@latest/build/webvr-polyfill.js"
    >
      var polyfill = new WebVRPolyfill();
    </script>
    <script type="text/javascript" src="js/stats.min.js"></script>
        <script src="js/StereoEffect.js"></script>
    <script src="js/main.js"></script>

    <script src="js/TrackballControls.js"></script>
  </body>


{{ end }}
